
button {
  background-color: white;
  color: black;
  border: 2px solid black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  padding: 4px 18px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;
  font-family: 'Francois One', sans-serif;
}

button:hover {
  background-color: black;
  color: white;
}

input[type=text] {
  padding: 12px;
  margin: 8px;
  box-sizing: border-box;
  border: 3px solid #ccc;
  transition: 0.5s;
  outline: none;
  font-family: 'Francois One', sans-serif;
}

input[type=text]:focus {
  border: 3px solid black;
}

img {
  width: 18%;
  display: block;
  margin-top: 0.5in;
  margin-right: 3.8in;
  border: 3px solid black;
  padding: 15px;
  padding-top: 5px;
  border-radius: 15px;
  box-shadow: 5px 10px 8px darkgray;
  background-color: white;
  float: right;
}

.hello1 {
  font-family: 'Francois One', sans-serif;
  font-size: 110%;
  text-align: center;
  margin-left: 3.7in; 
  border: 3px solid black;
  padding: 15px;
  padding-top: 5px;
  border-radius: 15px;
  box-shadow: 5px 10px 8px darkgray;
  background-color: white;
  float: left;
}